.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
}

.header {
    position: fixed;
    top: 0;
    text-align: center;
}