<div>
  <mat-card>
    <form [formGroup]="employeeInfoForm" class="example-form">
      <div class="row">
        <div class="col-sm-4">
          <mat-form-field class="field-width">
            <input matInput placeholder="Name" autocomplete="off" formControlName="name">
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-form-field class="field-width">
            <input matInput placeholder="Employee ID" autocomplete="off" formControlName="employeeID">
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-form-field>
            <mat-label>Location</mat-label>
            <mat-select formControlName="location">
              <mat-option *ngFor="let l of locations" [value]="l.LocationID">
                {{l.LocationName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <mat-form-field>
            <input matInput placeholder="Experience" autocomplete="off" formControlName="experience">
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-form-field>
            <mat-label>Client Name</mat-label>
            <mat-select formControlName="clientName" [(ngModel)]="clientId" (selectionChange)="clientSelected()">
              <mat-option *ngFor="let c of clients" [value]="c.ClientID">
                {{c.ClientName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-form-field class="field-width">
            <mat-chip-list #chipList2>
              <mat-chip *ngFor="let s of requiredSkill" [selectable]="requiredSkillSelectable"
                [removable]="requiredSkillRemovable" (removed)="remove(s)">
                {{s}}
                <mat-icon matChipRemove *ngIf="requiredSkillRemovable">cancel</mat-icon>
              </mat-chip>
              <input placeholder="Required Skill Set" #requiredSkillInput [formControl]="requiredSkillSet"
                [matAutocomplete]="auto1" [matChipInputFor]="chipList2"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let skill of filteredRequiredSkills | async" [value]="skill">
                {{skill}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="com-sm-3">
          <mat-form-field class="field-width">
            <mat-chip-list #chipList>
              <mat-chip *ngFor="let s of actualSkills" [selectable]="requiredSkillSelectable"
                [removable]="requiredSkillRemovable" (removed)="removeSkill(s)">
                {{s}}
                <mat-icon matChipRemove *ngIf="requiredSkillRemovable">cancel</mat-icon>
              </mat-chip>
              <input placeholder="Actual Skill Set" #actualSkillInput [formControl]="actualSkillSet"
                [matAutocomplete]="auto2" [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="addSkill($event)">
            </mat-chip-list>
            <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="selectedSkill($event)">
              <mat-option *ngFor="let skill of filteredActualSkill | async" [value]="skill">
                {{skill}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <mat-form-field style="width: 100%;">
            <textarea matInput placeholder="Expertise Summary" formControlName="expertiseSummary"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field class="field-width">
            <input matInput placeholder="Highest Degree" autocomplete="off" formControlName="highestDegree">
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field class="field-width">
            <input matInput placeholder="College Name" autocomplete="off" formControlName="collegeName">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12" formArrayName="expertiseRows">
          <div *ngFor="let formRow of this.employeeInfoForm.controls.expertiseRows.controls; let i=index"
            [formGroupName]="i">
            <p>Expertise Area {{i+1}}
              <span class="icons mt-1">
                <button mat-button *ngIf="expertideAddButton!==3">
                  <mat-icon *ngIf="i===0" (click)="addExpertiseRows()">add</mat-icon>
                </button>
                <mat-icon (click)="openDialog()">info</mat-icon>
                <mat-icon class="trash" *ngIf="i != 0" (click)="deleteExpertiseRows(i)">delete</mat-icon>
              </span>
            </p>
            <mat-form-field class="field-width">
              <input matInput placeholder="Expertise Area" autocomplete="off" formControlName="expertiseArea">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12" formArrayName="projectDetailRows">
          <div *ngFor="let itemRow of this.employeeInfoForm.controls.projectDetailRows.controls; let i=index"
            [formGroupName]="i">
            <p>Project Detail {{i+1}}
              <span class="icons mt-1">
                <button mat-button *ngIf="projectDetailAddButton!==3">
                  <mat-icon *ngIf="i===0" [attr.disabled]="i===2" (click)="addProjectDetailsRows()">add</mat-icon>
                </button>
                <mat-icon class="trash" *ngIf="i != 0" (click)="deleteProjectDetailsRows(i)">delete</mat-icon>
              </span>
            </p>
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Project Detail
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row">
                  <div class="col-sm-6">
                    <mat-form-field class="field-width">
                      <input matInput placeholder="Client Name" autocomplete="off" formControlName="client">
                    </mat-form-field>
                  </div>
                  <div class="col-sm-6">
                    <mat-form-field>
                      <mat-label>Technologies Used</mat-label>
                      <mat-select formControlName="technologiesUsed">
                        <mat-option *ngFor="let t of technologies" [value]="t.technologyID">
                          {{t.technologyName}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <mat-form-field style="width: 100%;">
                      <textarea matInput placeholder="Description" formControlName="description"></textarea>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <mat-form-field style="width: 100%;">
                      <textarea matInput placeholder="Client Description"
                        formControlName="clientDescription"></textarea>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12" formArrayName="responsibilitesRows">
                    <div
                      *ngFor="let responsibilitesItemRow of itemRow.controls.responsibilitesRows.controls; let i=index"
                      [formGroupName]="i">
                      <p>Responsibilites/Work Items Provided {{i+1}}
                        <span class="icons mt-1">
                          <button mat-button *ngIf="responsibilitesAddBUtton!==3">
                            <mat-icon *ngIf="i===0" [attr.disabled]="i===2" (click)="addResponsibilitesRows()">add
                            </mat-icon>
                          </button>
                          <mat-icon>info</mat-icon>
                          <mat-icon class="trash" *ngIf="i != 0" (click)="deleteResponsibilitesRows(i)">delete
                          </mat-icon>
                        </span>
                      </p>
                      <mat-form-field class="field-width">
                        <input matInput placeholder="Responsibilites/Work Items Provided" autocomplete="off"
                          formControlName="responsibilites">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
    </form>
    <div class="row mt-2">
      <div class="col-sm-12 card-buttons">
        <button color="primary" mat-button>CANCEL</button>
        <button color="accent" mat-button (click)="onSubmit()">SUBMIT</button>
      </div>
    </div>
  </mat-card>
</div>