.icons {
    float: right;
}

.icons .mat-icon {
    vertical-align: sub;
    cursor: pointer;
}

button:disabled{
    cursor: not-allowed;
}

.card-buttons{
    display: flex;
    flex-direction: row-reverse;
}