<div class="container-fluid">
  <mat-dialog-content class="mat-typography">
  </mat-dialog-content>
  <div class="row">
    <div class="col-sm-4">
      <mat-form-field>
        <mat-label>Skill Set</mat-label>
        <mat-select [(ngModel)]="SelectedSkillSet" (selectionChange)="selected($event)">
          <mat-option *ngFor="let s of skillSets" [value]="s.SkillSetID">
            {{s.SKillSetName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field>
        <mat-label>Proficiency</mat-label>
        <mat-select [(ngModel)]="SelectedProficiency" (selectionChange)="selected($event)">
          <mat-option *ngFor="let p of proficiencies" [value]="p.ProficiencyID">
            {{p.proficiency1}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field>
        <mat-label>Skill\Expertise</mat-label>
        <mat-select [(ngModel)]="SelectedFlag" (selectionChange)="selected($event)">
          <mat-option *ngFor="let p of filters" [value]="p">
            {{p}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <mat-form-field class="field-width">
        <mat-label>Suggestions</mat-label>
        <mat-select [(ngModel)]="selectedSuggestion">
          <mat-option *ngFor="let s of suggestions" [value]="s.SuggestionID">
            {{s.Sentence}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <mat-dialog-actions align="end">
    <button color="primary" mat-button [mat-dialog-close]="true" cdkFocusInitial>ADD</button>
    <button color="accent" mat-button mat-dialog-close>CANCEL</button>
  </mat-dialog-actions>
</div>